<div class="center-content">
    <mat-card class="new-dish-card">
        <mat-card-header>
            <mat-card-title>Share your dish!</mat-card-title>
        </mat-card-header>
    
        <mat-card-content class="card-content">
            <app-adddish-name-inputs (UserInputData)="setNameInputs($event)"></app-adddish-name-inputs>
            <app-adddish-details-form (UserInputData)="setDetailInputs($event)"></app-adddish-details-form>
            <app-adddish-ingredient-list (UserInputData)="setSelectedIngredients($event)"></app-adddish-ingredient-list>
            <app-adddish-steps-list (UserInputData)="setCreatedSteps($event)"></app-adddish-steps-list>
        </mat-card-content>
    
    
        <mat-card-actions class="card-actions">
            <button class="post-button"
                mat-raised-button color="warn">
                <mat-icon>delete_sweep</mat-icon>Clear Inputs
            </button>
            
            <button class="clear-input-button"
                mat-raised-button color="accent"
                (click)="postDish()"
                [disabled]="!allUserInputsValid()">
                <mat-icon>save</mat-icon>Post Dish
            </button>
        </mat-card-actions>
    </mat-card>
</div>