.page-container {
  justify-content: center;
  padding: 2rem;
  display: flex;
}
.dish-card {
  min-width: 55rem;
  width: 90%;
  box-shadow: var(--box-shadow-maincard);
  border-radius: var(--borderradius-default);
  overflow: hidden;
  border-style: outset;
  border-color: lightgray;
  border-width: 1px;
}
.dish-image, .header-container {
  min-height: 16rem;
  max-height: 16rem;
}
.dish-image {
  position: absolute;
  top: 0rem;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--borderradius-default) var(--borderradius-default) 0rem 0rem;
  opacity: 0.5;
  z-index: 1;
}
.header-container {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  max-width: 70%;
  z-index: 1;
}
.header-title {
  font-size: 1.85rem;
}
.dish-allergens {
  display: flex;
  gap: 0.3rem;
}
.dish-type {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.clock-icon {
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  margin-bottom: -0.5rem;
}
.clock-text {
  font-size: 0.75rem;
  font-style: italic;
}
.serves-icon {
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  margin-bottom: -0.4rem;
  margin-left: 1rem;
}
.serves-text {
  font-size: 0.75rem;
  font-style: italic;
}
.season-icon {
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  margin-bottom: -0.4rem;
  margin-left: 1rem;
}
.season-text {
  font-size: 0.75rem;
  font-style: italic;
  margin-left: -0.2rem;
}
.recipe-description {
  margin-top: 1rem;
  margin-left: -1rem;
  max-width: 70%;
  max-height: 8rem;
  font-size: 1rem;
}
.actions-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 0.8rem;
  top: 0.6rem;
  height: 16rem;
}
.share-button {
  width: 100%;
  margin-bottom: 0.5rem;
}
.content-container {
  margin-top: -1.5rem;
  margin-left: 0.5rem;
  max-width: 85%;
  padding: 1rem;
}
.card-title {
  font-size: 1.7rem;
}
.dish-ingredients {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.dish-directions {
  font-size: 1rem;
  max-width: 70%;
  margin-top: 0.5rem;
}
.dish-description {
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 70%;
}