<div class="dish-container">
  <mat-card class="dish-card">
    <mat-card-header class="header-container">
      <div>
        <mat-card-title class="header-title">{{
          getDish()?.name | titlecase
        }}</mat-card-title>
        <div class="dish-allergens">
          @for (type of getDish()?.dish_types; track type) {
            <mat-chip class="dish-type"> {{ type.name | titlecase }}</mat-chip>
          }
          @for (allergy of getDishAllergies(); track allergy) {
            <app-allergy-icon
              [iconType]="allergy"
              [iconSize]="'40px'"
              [withText]="true"
              [hideTooltip]="false"
            ></app-allergy-icon>
          }
        </div>
        <div>
          <mat-icon class="clock-icon" color="white">timelapse</mat-icon
          ><span class="clock-text">{{ getDish()?.duration }}min.</span
          ><mat-icon class="serves-icon">group</mat-icon
          ><span class="serves-text"
            >Serves: {{ getDish()?.amount_of_people }}</span
          >
          <mat-icon class="season-icon">wb_sunny</mat-icon>
          <span class="season-text"> {{ getDish()?.season?.name }}</span>
        </div>
        <mat-card-content class="recipe-description">
          {{ getDish()?.description }}
        </mat-card-content>
      </div>
      <div class="clipboard-container">
        <mat-card-actions>
          <button mat-button (click)="copyUrlToClipboard()">
            <mat-icon>file_copy</mat-icon> SHARE
          </button>
        </mat-card-actions>
      </div>
    </mat-card-header>
    <img class="dish-image" mat-card-image [src]="getDish()?.image_url" />
    <div class="content-container">
      <mat-card-title class="card-title">Ingredients</mat-card-title>
      <mat-card-content class="dish-ingredients">
        <ul>
          @for (ingredient of getDish()?.ingredients; track ingredient.id) {
            <li>{{ ingredient.name }}</li>
          }
        </ul>
      </mat-card-content>
      <mat-card-title class="card-title">Directions</mat-card-title>
      <mat-card-content class="dish-directions">
        <ol>
          @for (steps of getDish()?.dish_steps; track steps) {
            <li>{{ steps.title }}</li>
          }
        </ol>
      </mat-card-content>
      <mat-card-title class="card-title"> Description </mat-card-title>
      <mat-card-content class="dish-description">
        @for (steps of getDish()?.dish_steps; track steps) {
          <p>{{ steps.description }}</p>
        }
      </mat-card-content>
    </div>
  </mat-card>
</div>
