.dish-container {
  justify-content: center;
  padding: 2rem;
  display: flex;
}
.dish-card {
  width: 90%;
}
.header-container {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  max-width: 70%;
}
.header-title {
  font-size: 1.85rem;
}
.dish-allergens {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.3rem;
}
.dish-type {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.clock-icon {
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  margin-bottom: -0.5rem;
}
.clock-text {
  font-size: 0.75rem;
  font-style: italic;
}
.serves-icon {
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  margin-bottom: -0.4rem;
  margin-left: 1rem;
}
.serves-text {
  font-size: 0.75rem;
  font-style: italic;
}
.season-icon {
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  margin-bottom: -0.4rem;
  margin-left: 1rem;
}
.season-text {
  font-size: 0.75rem;
  font-style: italic;
  margin-left: -0.2rem;
}
.recipe-description {
  margin-top: 1rem;
  margin-left: -1rem;
  max-width: 70%;
  font-size: 1rem;
}
.clipboard-container {
  position: absolute;
  right: 0.8rem;
  top: 0.6rem;
}
.dish-image {
  display: flex;
  min-width: 70%;
  max-width: 70%;
  margin-left: 0.5rem;
}
.content-container {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  max-width: 85%;
}
.card-title {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1.7rem;
}
.dish-ingredients {
  font-size: 1rem;
}
.dish-directions {
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 70%;
}
.dish-description {
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 70%;
}