<mat-card>
    <!--    HEADER  -->
    <mat-card-header class="input-section">
        <mat-form-field color="accent">
            <mat-label>Dish name</mat-label>
            <input matInput
              type="text" 
              placeholder="Dish Name"
              [(ngModel)]="dishNameInput"
              [ngModelOptions]="{standalone: true}"
              required="true">
        </mat-form-field>
    </mat-card-header>
    <!--    CONTENT -->
    <mat-card-content>
        <!--    DESCRIPTION -->
        <mat-form-field class="input-section" color="accent" hintLabel="Max. 255 characters">
            <mat-label>Description</mat-label>
            <textarea matInput
              type="text" 
              placeholder="Description" 
              maxlength="255"
              [(ngModel)]="descriptionInput"
              [ngModelOptions]="{standalone: true}"
              required="true">
            </textarea>
            <mat-hint align="end">{{descriptionInput.length}}/255</mat-hint>
        </mat-form-field>
        <!--    IMAGE   -->
        <mat-form-field class="input-section" color="accent">
            <mat-label>Image</mat-label>
            <input matInput
              type="text" 
              placeholder="image-url"
              [(ngModel)]="imageInput"
              [ngModelOptions]="{standalone: true}"
              required="true">
        </mat-form-field>
        <!--    TYPES   -->
        <!--    SELECT NEW TYPE     -->
        <form class="input-section">
            <mat-form-field color="accent">
              <mat-label>Type(s)</mat-label>
              <mat-chip-grid #chipGrid>
                @for (type of selectedTypes; track $index) {
                    <mat-chip-row color="accent">
                        {{type.name}}
                        <button matChipRemove (click)="removeType(type)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                }
              </mat-chip-grid>
              <input matInput
                type="text"
                placeholder="Select Type"
                aria-label="Type"
                [matAutocomplete]="autoType"
                [matChipInputFor]="chipGrid"
                [(ngModel)]="typeInput"
                [ngModelOptions]="{standalone: true}"
                (input)="filterTypes()"
                (focus)="filterTypes()">
              <mat-autocomplete #autoType="matAutocomplete">
                @for (type of suggestedTypes; track $index) {
                  <mat-option [value]="type" (click)="addType(type)">{{type}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
        </form>
        <!--  Ingredients   -->
        <div class="ingredient-table">
          <!--  Selected ingredients  -->
          <table mat-table [dataSource]="selectedIngredients" class="mat-elevation-z8">
            <!-- NAME COLUMN -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Ingredient</th>
              <td mat-cell *matCellDef="let ingredient">{{ingredient.name}}</td>
            </ng-container>
            <!--  AMOUNT COLUMN -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let ingredient">{{ ingredient.amount.value }}{{ ingredient.amount.unit }}</td>
            </ng-container>
            <!--  ACTION COLUMN -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let ingredient">
                <button mat-raised-button color="warn" (click)="removeIngredient(ingredient)"><mat-icon>delete</mat-icon>Delete {{ingredient.name}}</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['name', 'amount', 'action']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['name', 'amount', 'action']" class="ingredient-data-row"></tr>
          </table>
          <!--  New ingredient  -->
          <form class="ingredient-add-form">
            <!--  Ingredient name input -->
            <mat-form-field color="accent">
              <mat-label>Ingredient</mat-label>
              <input matInput
                type="text"
                placeholder="Name"
                aria-label="Ingredient"
                [matAutocomplete]="autoIngredient"
                [(ngModel)]="ingredientNameInput"
                [ngModelOptions]="{standalone: true}"
                (input)="filterIngredients()"
                (focus)="filterIngredients()">
              <mat-autocomplete #autoIngredient="matAutocomplete">
                @for (ingredient of suggestedIngredients; track $index) {
                  <mat-option [value]="ingredient.name" (click)="setIngredientToAddData(ingredient)">{{ingredient.name}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
              <!--  Ingredient input-fields -->
              <mat-form-field color="accent">
                <mat-label>Amount ({{ingredientToAdd.amount.unit}})</mat-label>
                <input matInput
                  type="number"
                  placeholder="Number"
                  aria-label="Amount"
                  [(ngModel)]="ingredientAmountInput"
                  [ngModelOptions]="{standalone: true}"
                  min="1"
                  (input)="setIngredientToAddAmountValue()">
              </mat-form-field>
              <!--  Ingredient add-button -->
              @if (ingredientToAddIsValid()) {
                <button mat-mini-fab color="accent" (click)="addIngredient()">
                  <mat-icon>add</mat-icon>
                </button>
              } @else {
                <button mat-mini-fab color="warn" disabled>
                  <mat-icon>add</mat-icon>
                </button>
              }
          </form>
          <!--  Amount of People  -->
          <mat-form-field color="accent">
            <mat-label>Portion size</mat-label>
            <input matInput
              type="number"
              placeholder="Number"
              aria-label="Amount"
              matInput
              [(ngModel)]="portionSizeInput"
              [ngModelOptions]="{standalone: true}"
              min="1"
              max="12"
              required="true">
          </mat-form-field>
          <!--  Preparation Time-->
          <mat-form-field color="accent">
            <mat-label>Preparation time [min.]</mat-label>
            <input matInput
              type="number"
              placeholder="Number"
              aria-label="Amount"
              [(ngModel)]="preparationTimeInput"
              [ngModelOptions]="{standalone: true}"
              min="1"
              required="true">
          </mat-form-field>
          <!--    SEASONS     -->
          <div>
            Season
            <mat-button-toggle-group [formControl]="seasonFormControl" aria-label="Season">
              @for (season of seasons; track $index) {
                <mat-button-toggle [value]="season">{{season}}</mat-button-toggle>
              }
            </mat-button-toggle-group>
          </div>
          <!--  DISH STEPS  -->
          <mat-accordion multi="true">
          <!--  Finished Steps  -->
            @for (step of createdSteps; track $index) {
              <mat-expansion-panel>
                <mat-expansion-panel-header class="steps-panel-header">
                  <mat-panel-title>
                    {{step.order}}. {{step.title}}
                    <div>
                      <!--  MOVE BUTTONS  -->
                      @if ($index !== 0) {
                        <button mat-icon-button (click)="moveStepUp(step)"><mat-icon>keyboard_arrow_up</mat-icon></button>
                      }
                      @if ($index !== createdSteps.length - 1) {
                        <button mat-icon-button (click)="moveStepDown(step)"><mat-icon>keyboard_arrow_down</mat-icon></button>
                      }
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{step.description}}</p>
                <button mat-flat-button color="warn" (click)="removeStep(step)" [hidden]="false"><mat-icon>delete</mat-icon>Delete this step</button>
              </mat-expansion-panel>
            }
          </mat-accordion>
          <!--  Add Step   -->
          <mat-expansion-panel [disabled]="true" [expanded]="true">
            <!--  STEP TITLE  -->
            <mat-form-field color="accent">
              <input matInput
                type="text"
                placeholder="Step Title"
                aria-label="Step Title"
                [(ngModel)]="stepToAdd.title"
                [ngModelOptions]="{standalone: true}"
                required="true">
            </mat-form-field>
            <!--  STEP DESCRIPTION  -->
            <mat-form-field class="input-section" color="accent" hintLabel="Max. 255 characters">
              <mat-label>Description</mat-label>
              <textarea matInput
                type="text" 
                placeholder="Description" 
                maxlength="255"
                [(ngModel)]="stepToAdd.description"
                [ngModelOptions]="{standalone: true}">
              </textarea>
              <mat-hint align="end">{{descriptionInput.length}}/255</mat-hint>
            </mat-form-field>
            <!--  ADD-STEP BUTTON  -->
            @if (stepToAddIsValid()) {
              <button mat-raised-button color="accent" (click)="addStep()">Add this step</button>
            } @else {
              <button mat-raised-button disabled="">Add this step</button>
            }
          </mat-expansion-panel>
        </div>
    </mat-card-content>
    <!--    ACTIONS  -->
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="postDish()"><mat-icon>save</mat-icon>Post Dish</button>
        <button mat-raised-button color="warn" (click)="clearUserInputs()"><mat-icon>delete_sweep</mat-icon>Clear Inputs</button>
    </mat-card-actions>
</mat-card>