.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--shadow-color);
  padding: 1rem;
  border-radius: 0.3rem;
}
.buffer-bar {
  width: 30rem;
  height: 1.2rem;
  background-color: white;
  border-radius: 1rem;
}
