<app-adddish-card [inputValid]="checkInputsValidity()" (input)="emitUserInput()">
  <div name="title-icon-type">local_dining</div>        
  <div name="title">Dish Description</div>

  <mat-form-field class="name-input-field"
  color="accent"
  name="contentrow">
      <mat-label>Name</mat-label>
      <input matInput
        type="text" 
        placeholder="Spaghetti Bolognese"
        [(ngModel)]="nameInput"
        [ngModelOptions]="{standalone: true}"
        required="true">
  </mat-form-field>

  <mat-form-field class="image-input-field"
      color="accent"
      name="contentrow">
          <mat-label>Image-URL</mat-label>
          <input matInput
            type="text" 
            placeholder="https://www.example.org/my-image.jpg"
            [(ngModel)]="imageInput"
            [ngModelOptions]="{standalone: true}"
            required="true">
  </mat-form-field>

  <mat-form-field class="description-input-field"
      color="accent" 
      hintLabel="Max. 255 characters">
          <mat-label>Description</mat-label>
          <textarea matInput
            type="text" 
            placeholder="Tasty Italian pasta with delicious tomato sauce." 
            maxlength="255"
            [(ngModel)]="descriptionInput"
            [ngModelOptions]="{standalone: true}">
          </textarea>
          <mat-hint align="end">{{descriptionInput.length}}/255</mat-hint>
  </mat-form-field>
</app-adddish-card>