mat-toolbar{
    margin-bottom: 1vh;
}
.magic-border{
    padding: 0px;
    margin: 2px;
    width: fit-content;
    height: fit-content;
    background-size: 1500% 0%;
    background-position: 100% 0;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    background-size: 1500% 100%;
    border-radius: 6px;
}
.magic-border:hover{
    animation: MagicBorder 3s ease forwards 1s;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
}
@keyframes MagicBorder {
    0%{
        background-position: 100% 0;
        padding: 0px;
        margin: 2px;
    }
    15%{
        background-position: 100% 0;
        padding: 2px;
        margin: 0px;
        box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.2);
    }
    100%{
        padding: 2px;
        margin: 0px;
        box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.2);
    }
}
.title{
    padding-top: 0.3rem;
    opacity: 100;
    cursor: pointer;
    font-size: 100%;
    font-weight: 300;

    display: flex;
    align-items: normal;
    justify-items: center;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    background-size: 1500% 0%;
    -webkit-background-clip: text;
}
.magic-border:hover .title{
    animation: RainbowTitle 3s ease forwards 1s;
}
@keyframes RainbowTitle {
    from{
        background-position: 100% 0;
    }
    15%{
        color: transparent;
        background-position: 100% 0;
    }
    66%{
        color: transparent;
    }
    to{
        background-size: 1500% 100%;
    }
}