<mat-toolbar color="primary" class="main-toolbar">
  <div class="magic-border">
    <button mat-flat-button color="primary" (click)="navigateToHomepage()">
      <div class="title-button-content">
        Meal
        <mat-icon>fastfood</mat-icon>
        Magic
      </div>
    </button>
  </div>
  <div class="user-buttons">
    @if (authService.isAuthenticated) {
      @if (hideAddDishButton) {
        <button mat-button (click)="router.navigate(['add-dish'])">
          <mat-icon>library_add</mat-icon>Add Dish
        </button>
      }
      @if (hideMyAccountButton) {
        <button mat-button (click)="router.navigate(['userpanel'])">
          <mat-icon>person_outline</mat-icon>My Account
        </button>
      }
      <button mat-button (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>Logout
      </button>
    } @else {
      <button
        class="login-button"
        (click)="router.navigate(['login'])"
        mat-button
      >
        <mat-icon>arrow_downward</mat-icon>
        Login
      </button>
    }
  </div>
</mat-toolbar>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>

