<mat-toolbar color="primary" class="main-toolbar">
  <div class="magic-border">
    <button mat-flat-button color="primary" (click)="navigateToHomepage()">
      <div class="title-button-content">
        Meal
        <mat-icon>fastfood</mat-icon>
        Magic
      </div>
    </button>
  </div>
  <div class="user-buttons">
    @if (authService.isAuthenticated) {
      <button mat-button (click)="router.navigate(['add-dish'])">
        Add Dish
      </button>
      <button mat-button (click)="router.navigate(['userpanel'])">
        My Account
      </button>
      <button mat-button (click)="authService.logout()">Logout</button>
    } @else {
      <button
        class="login-button"
        (click)="router.navigate(['login'])"
        mat-button
      >
        Login
      </button>
    }
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
