<mat-card class="dish-card" matRipple>
  <div class="card-container">
    <div class="card-details">
      <div class="card-header">
        <div class="title-container">
          <mat-card-title>{{ dish.name | titlecase }}</mat-card-title>
          @for (allergy of getDishAllergies(); track allergy) {
            <app-allergy-icon [iconType]="allergy"></app-allergy-icon>
          }
        </div>
        <mat-chip-listbox aria-label="Dish Types" class="dish-type-chips">
          @for (type of dish.dish_types; track type) {
            <mat-chip>{{ type.name | titlecase }}</mat-chip>
          }
        </mat-chip-listbox>
      </div>

      <mat-divider></mat-divider>

      <mat-card-content>
        <div class="details-container">
          <div class="duration-detail">
            <mat-icon color="accent">timelapse</mat-icon>
            {{ dish.duration }} Min.
          </div>

          <div class="people-detail">
            <mat-icon color="accent">people</mat-icon>
            Serves {{ dish.amount_of_people }}
          </div>

          <div class="season-detail">
            <mat-icon color="accent">wb_sunny</mat-icon>
            {{ dish.season.name }}
          </div>
        </div>

        <div class="description-container">
          {{ dish.description }}
          <div class="gradient-effect"></div>
        </div>
      </mat-card-content>
    </div>

    <img class="dish-img" [src]="dish.image_url" />
  </div>
</mat-card>
