/* ### CARD LAYOUT ### */
.recipe-card{
    margin-bottom: 1vh;
    width: 70vw;
    min-width: 30vw;
    min-height: 24vh;
    border-radius: 1vw;
    z-index: 2;
}
.recipe-card:hover{
    animation: card-glow 1s ease-in forwards;
    z-index: 3;
}
@keyframes card-glow {
    to{
        background-color: #eecbff2c;
        box-shadow: 0 0 5vw 2vh #000;
    }
}
.recipe-container{
    display: flex;
    justify-content: space-between;
}
.recipe-details{
    width: 100%;
}
.recipe-img{
    width: 35vw;
    height: 24vh;
    object-fit: cover;
    object-position: center;
    border-radius: 0 1vw 1vw 18vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
mat-divider{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

/* ### CARD HEADER ### */

mat-card-title{
    font-size: 4.2vh;
    margin-left: 1vh;
}
.recipe-header{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    align-items: center;
    justify-items: center;
    align-items: center;
}
.title-container{
    display: flex;
    align-items: center;
}

mat-chip{
    height: 4.2vh;
}

/* ### DETAILS ### */
.details-container{
    /* Collection of detail sets */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1.4vh;
}
.detail{
    /* Collection of one image and one text */
    display: flex;
    align-items: center;
    gap: 0.1rem;
}
.detail-text{
    height: 2vh;
}

.description-container{
    background-color: #eecbff13;
    font-size: 2vh;
    position: relative;
    min-height: 3.5vh;
    max-height: 3.5vh;
    padding: 1vh;
    border-radius: 1vh;
    object-fit: cover;
    overflow: hidden;
    transition: max-height 1.5s ease;
}
.recipe-card:hover .description-container{ /* When hovering over the card, change description-container */
    max-height: 80vh;
}
.gradient-effect{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent, #211e21);
    opacity: 1;
    transition: opacity 1.5s ease;
}
.recipe-card:hover .gradient-effect{ /* When hovering over the card, fade out gradient effect */
    opacity: 0;
}