.ingredient-list-content {
    width: 100%;
}
.ingredient-table {
    width: 100%;
    height: auto;
}
.table-header {
    background-color: rgba(0, 0, 0, 0.1);
}
.table-row {
    background-color: rgba(0, 0, 0, 0.05);
    animation: NewInput 1s ease;
}
.new-ingredient-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1.35rem;
}

.name-column, .name-input {
    width: 45%;
}
.amount-column, .amount-input {
    width: 45%;
}
.action-column, .new-dish-action {
    width: 5%;
}
.action-column {
    padding-right: 1.3rem;
}
.new-dish-action {
    margin-bottom: 1.1rem;
    padding-right: 1rem;
}