<div class="ingredient">
  @if (count !== 0) {
    <div class="ingredient-name">
      {{ getIngredientName() }}
    </div>
  } @else {
    <div class="ingredient-name-red">
      {{ getIngredientName() }}
    </div>
  }
  <div class="ingredient-count">
    <mat-form-field color="accent" class="amount-input">
      <mat-label>Amount (gr)</mat-label>
      <input
        matInput
        type="number"
        placeholder="Number"
        aria-label="Amount"
        [(ngModel)]="count"
        [ngModelOptions]="{ standalone: true }"
        min="0"
        (input)="emitUserInput()"
      />
    </mat-form-field>
  </div>
</div>
