.info-card,
.info-panel,
.allergies-panel,
.reviews-panel {
  margin-left: 8rem;
  margin-right: 8rem;
}
.weight-height-form {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
}
.weight-height-input {
  min-width: 12rem;
}
.user-allergies {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-allergy {
  width: 20%;
  min-width: 9.5rem;
}
.submit-allergies {
  align-self: flex-end;
}
.info-card-content {
  display: flex;
  justify-content: space-between;
}
.info-allergies-chips {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}
.bmi-container {
  position: relative;
  opacity: 0;
  width: 240px;
  height: 115px;
  transform: translateY(10px);
  margin-left: 15px;
  margin-right: 15px;
}
.bmi-fade-in {
  animation: bmiFadeIn 1s forwards;
}
@keyframes bmiFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bmi-fade-out {
  animation: bmiFadeOut 0.5s forwards;
}
@keyframes bmiFadeOut {
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.bmi-meter {
  position: relative;
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  background:
    radial-gradient(#ffffff00 0 0) content-box,
    conic-gradient(
      from -90deg,
      #c1262c 0 30.84deg,
      #db5c23 0 35.98deg,
      #ffe400 0 43.69deg,
      #1eaa59 0 77.1deg,
      #ffe400 0 102.8deg,
      #e67e22 0 128.5deg,
      #c1262c 0 154.2deg,
      #7b0d11 0 180deg,
      #ffffff00 0
    );
  box-shadow: 0 -4px 0px 0px rgba(0, 0, 0, 0.1);
}
.bmi-arrow {
  position: absolute;
  width: 6rem;
  height: 7px;
  bottom: 7rem;
  left: 1rem;
  background: #15222e;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  transform-origin: 100% 0px;
  animation:
    arrowmove 4s forwards 2.5s,
    arrowidle 2s linear 6s infinite;
}
@keyframes arrowmove {
  to {
    transform: rotate(calc((var(--bmi) - 10) * 5.14deg));
  }
}
@keyframes arrowidle {
  0% {
    transform: rotate(calc((var(--bmi) - 10) * 5.14deg));
  }
  25% {
    transform: rotate(calc((var(--bmi) - 9.8) * 5.14deg));
  }
  75% {
    transform: rotate(calc((var(--bmi) - 10.2) * 5.14deg));
  }
  100% {
    transform: rotate(calc((var(--bmi) - 10) * 5.14deg));
  }
}
.reset-arrow {
  animation: arrowreset 1s forwards;
}
@keyframes arrowreset {
  to {
    transform: rotate(0deg);
  }
}
.bmi-numbers-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6px;
  left: -12px;
  transform: rotate(-90deg);
  font-size: 10px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.bmi-number {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: rotate(var(--position));
  transform-origin: 50% calc(100% + 6.5rem);
  color: #ffffff;
}
.score-container {
  position: absolute;
  width: 72%;
  height: 36%;
  bottom: 50%;
  right: 14%;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  background: #15222e;
  border-radius: 100px 100px 0 0;
}
.bmi-result {
  position: absolute;
  width: 115px;
  text-align: center;
  top: 1.5rem;
  left: 1.5rem;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.bmi-amount {
  position: absolute;
  top: 3.5rem;
  left: 4rem;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.bmi-amount::before {
  position: absolute;
  width: 6rem;
  top: -1rem;
  left: -0.7rem;
  content: "Your BMI is:";
  font-size: 10px;
  color: #ffffffbd;
}
.user-allergies-icons {
  padding-left: 0px;
  padding-right: 12px;
  padding-bottom: 13px;
  margin-bottom: 0px;
  margin-top: -11px;
}
.review-cards-container {
  display: flex;
  flex-flow: row nowrap;
  transition: transform 0.3s ease-in-out;
}
.review-card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 1rem 1rem 1rem 1rem;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  z-index: 1;
  max-width: 200px;
  flex: 0 0 33%;
  transition: transform 0.3s ease-in-out;
}
.active {
  transform: scale(1.1);
}
.review-title {
  font-size: 14px;
  margin-left: 2px;
}
.star-rating {
  color: #ffe400;
  font-weight: bold;
}
.review-button {
  margin-top: 10px;
}
.arrow-button-left,
.arrow-button-right {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 5;
}
.arrow-button-left {
  left: 0;
}
.arrow-button-right {
  right: 0;
}
.no-reviews-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  z-index: 1;
}
.no-reviews-text {
  font-weight: bold;
  z-index: 1;
  margin: auto;
  padding-top: 1rem;
}
.no-reviews-button {
  margin: auto;
  z-index: 1;
}
.background-1,
.background-2 {
  filter: blur(1px);
  position: absolute;
  z-index: 0;
}
.background-1 {
  top: 50%;
  left: 15%;
}
.background-2 {
  top: 50%;
  left: 75%;
}
