.steps-panel-header {
    animation: NewInput 1s ease;
}
.new-title-image-container, .new-description-container {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.description-input-field {
    width: 100%;
}
.name-input-field {
    width: 40%;
    min-width: 10rem;
}
.image-input-field {
    width: 100%;
    margin-right: 4.4rem;
}
.add-step-button {
    margin-right: 1.3rem;
}