<div class="nutrition-container">
  <div class="nutrition green">
    <div>
      kcal<br />
      <strong></strong><br />
      <span>20%</span>
    </div>
  </div>
  <div class="nutrition beige">
    <div>
      protein<br />
      <strong>2g</strong><br />
      <span>1%</span>
    </div>
  </div>
  <div class="nutrition blue">
    <div>
      carbohydrates<br />
      <strong>52g</strong><br />
      <span>5%</span>
    </div>
  </div>
  <div class="nutrition rose">
    <div>
      fat<br />
      <strong>20g</strong><br />
      <span>3%</span>
    </div>
  </div>
</div>
