.nutrition {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  font-size: 1.1rem;
  width: 4rem;
  line-height: 1.5rem;
  margin: 0 0.3rem;
}
.nutrition > * {
  padding: 0.5rem 1rem 0.2rem;
  width: inherit;
  border-radius: 100%;
  position: relative;
  left: -1rem;
  overflow: hidden;
  background: #bbb;
}
.nutrition-percentage {
  margin-top: 0.3em;
  display: inline-block;
  position: relative;
  color: rgb(61, 61, 61);
}
.nutrition > *:before {
  background: rgba(232, 232, 232, 0.782);
  border-radius: 100%;
  bottom: -1rem;
  content: "";
  height: 3rem;
  left: 1.5rem;
  position: absolute;
  width: 3rem;
}
.kcal > * {
  background: #78d1af;
}
.protein > * {
  background: #dcd397;
}
.carbs > * {
  background: #60b5de;
}
.fat > * {
  background: #dc97a0;
}
