.nutrition {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 4em;
  line-height: 1.5em;
  margin: 0 0.3em;
}
.nutrition {
  padding: 0.5em 1em 0.2em;
  border-radius: 100%;
  left: -1em;
}
.nutrition {
  margin-top: 0.3em;
  display: inline-block;
}
.nutrition:before {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  bottom: -1em;
  content: "";
  height: 3em;
  left: 1.5em;
  position: absolute;
  width: 3em;
}
.nutrition.green {
  background: #85e8c2;
}
.nutrition.beige {
  background: #f0e6a4;
}
.nutrition.blue {
  background: #6ac6f4;
}
.nutrition.rose {
  background: #eca2ac;
}
