<p>calories works!</p>
<div class="nutrition green">
  <div>
    Calories<br />
    <strong>401</strong><br />
    <span>20%</span>
  </div>
</div>
<div class="nutrition beige">
  <div>
    Protides<br />
    <strong>2g</strong><br />
    <span>1%</span>
  </div>
</div>
<div class="nutrition blue">
  <div>
    Glucides<br />
    <strong>52g</strong><br />
    <span>5%</span>
  </div>
</div>
<div class="nutrition rose">
  <div>
    Lipides<br />
    <strong>20g</strong><br />
    <span>3%</span>
  </div>
</div>
<br />
