<div class="nutrition-container">
  <div class="nutrition green">
    <div>
      kcal<br />
      {{ countKcal() }}<br />
      <span class="nutrition-percentage">20%</span>
    </div>
  </div>
  <div class="nutrition beige">
    <div>
      protein<br />
      {{ countProtein() }} g<br />
      <span class="nutrition-percentage">1%</span>
    </div>
  </div>
  <div class="nutrition blue">
    <div>
      carbo.<br />
      {{ countCarbohydrates() }}<br />
      <span class="nutrition-percentage">5%</span>
    </div>
  </div>
  <div class="nutrition rose">
    <div>
      fat<br />
      {{ countFat() }} g<br />
      <span class="nutrition-percentage">3%</span>
    </div>
  </div>
</div>
