/* ### CARD LAYOUT ### */
.recipe-card{
    margin-bottom: 1vh;
    width: 70vw;
    min-height: 22vh;
    min-width: 20rem;
    height: auto;
    border-radius: 1vw;
}
.recipe-card:hover{
    animation: card-glow 2s ease-in-out forwards;
}
@keyframes card-glow {
    to{
        background-color: #eecbff2c;
    }
}
.recipe-container{
    display: flex;
    justify-content: space-between;
}
.recipe-details{
    width: 100%;
}
.recipe-img{
    width: 40%;
    height: 32vh;
    object-fit: cover;
    object-position: bottom left;
    border-radius: 0 1vw 1vw 15vh;
}
mat-divider{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

/* ### CARD HEADER ### */

mat-card-title{
    font-size: 4.2vh;
    margin-left: 1vh;
}
.recipe-header{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    align-items: center;
    justify-items: center;
    align-items: center;
}
.title-container{
    display: flex;
    align-items: center;
}

mat-chip{
    height: 4.2vh;
}

/* ### DETAILS ### */
.details-container{
    /* Collection of detail sets */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1.4vh;
}
.detail{
    /* Collection of one image and one text */
    display: flex;
    align-items: center;
    gap: 0.1rem;
}
.detail-text{
    height: 2vh;
}
.detail-img{
    filter: 
        grayscale(100) 
        brightness(50) 
        contrast(0) 
        sepia(100) 
        hue-rotate(270deg) 
        saturate(1000%);
}

.description-container{
    background-color: #eecbff13;
    height: 10vh;
    padding: 1vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
    object-fit: cover;
    overflow: hidden;
}
.description-container:hover{
    animation: ingredient-grow-container 1s 500ms forwards;
}
@keyframes ingredient-grow-container {
    to{
        height: 35vh;
    }
}