<mat-card class="recipe-card" [id]="generateHtmlElementId(dish.id)">
    <div class="recipe-container">
        <!--  Recipe details  -->
        <div class="recipe-details">
            <div class="recipe-header">
                <div class="title-container">
                    <!--  TO-DO Allergy-call  -->
                    <app-allergy-icon [iconType]="'gluten'"></app-allergy-icon>
                    <mat-card-title>{{dish.name | titlecase}}</mat-card-title>
                </div>
                <mat-chip-listbox aria-label="Recipe Types">
                    <!--  Chip types  -->
                    @for (type of dish.dish_types; track $index) {
                        <mat-chip>{{type.name| titlecase}}</mat-chip>
                    }
                </mat-chip-listbox>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="detail-container">
                    <!--  Time display  -->
                    <div>
                        <img class="detail-img" src="../../../assets/images/icons/clock.png" alt="time">
                        {{dish.duration}} Min.
                    </div>
                    <!--  For how many people display  -->
                    <div>
                        <img class="detail-img" src="../../../assets/images/icons/people.png" alt="people">
                        Serves {{dish.amount_of_people}}
                    </div>
                    <!--  Season display  -->
                    <div>
                        <img class="detail-img" src="../../../assets/images/icons/season.png" alt="people">
                        {{dish.season.name}}
                    </div>
                </div>
                <div class="description-container">
                    {{dish.description}}
                </div>
            </mat-card-content>
        </div>
        <!--  Recipe image  -->
        <img class="recipe-img" [src]="dish.image_url">
    </div>
</mat-card>