.homepage {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 99vw;
}
.fridge {
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
  width: 28rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.toolbar-content {
  width: 68rem;
  margin-bottom: var(--default-margin);
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}
.search-bar {
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
