<div class="content">
    <!--  Top content goes here  -->

    <!--  SearchBar  -->
    <mat-toolbar class="list-toolbar">
        <mat-form-field class="search-bar">
            <input [(ngModel)]="searchInput" placeholder="Search..." type="string" matInput (keyup.enter)="filterRecipesFromSearch()">
            <mat-hint>Results: {{ dishList.length }}</mat-hint>
        </mat-form-field>
    </mat-toolbar>

    <!--  Recipe List  -->
    @for (dish of dishList; track $index) {
        <app-recipe-card [dish]="dish"></app-recipe-card>
    } @empty {
        <div>Looking for dishes...</div>
        <mat-progress-bar mode="buffer" class="buffer-bar"></mat-progress-bar>
    }
</div>