<div class="content">
  <mat-toolbar class="list-toolbar">
    <mat-form-field class="search-bar">
      <input
        [(ngModel)]="searchInput"
        placeholder="Search..."
        type="string"
        matInput
      />
      <mat-hint>Results: {{ getSearchResultAmount() }}</mat-hint>
    </mat-form-field>
  </mat-toolbar>

  @for (dish of getDishes(); track $index) {
    <app-dish-card [dish]="dish"></app-dish-card>
  } @empty {
    @if (auth.isAuthenticated) {
      <p>Looking for dishes...</p>
      <mat-progress-bar mode="buffer" class="buffer-bar"></mat-progress-bar>
    } @else {
      <h1>Login required!</h1>
    }
  }
</div>
