.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.list-toolbar{
    width: 72vw;
    margin-bottom: 1vh;
    height: auto;
    padding: 3vw;
    border-radius: 3vh;
}
.search-bar{
    width: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
}
.buffer-bar{
    width: 32vw;
    height: 2vh;
    background-color: gray;
    border-radius: 1vh;
}