.login-container {
    display: flex;
    flex-flow: column wrap;
    width: 30rem;
    align-items: center;
    background-color: rgb(69, 67, 67);
    border-radius: 3%;
    margin: 9rem 15rem 9rem 28rem;
    padding: 5rem;
    /* box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(41, 34, 46); */
}

section {
  display: table;
}

.label {
  width: 22rem;
}

.forgot-btn {
  font-size: 0.6rem;
}

.sign-btn {
  margin-top: 2rem;
  margin-bottom: -0.5rem;
  background-color: rgb(78, 76, 69);
  border: 0.1mm solid rgb(78, 76, 69);
  width: 8rem;
}

.create {
  font-size: small;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}