.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.login-box {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 30rem;
  padding: 5rem;
}
.login-title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.label {
  width: 22rem;
}
.sign-button {
  margin-top: 2rem;
  margin-bottom: -0.5rem;
  background-color: rgb(255, 255, 255);
  border: 0.1rem outset var(--primary-color);
  width: 8rem;
}
.sign-button:hover {
  border: 0.1rem inset var(--primary-color);
  background-image: linear-gradient(white, lightgray);
}