.step-card {
    margin-bottom: var(--default-margin);
    width: 100%;
}
.step-card-content {
    display: flex;
    flex-direction: row;
}
.card-text-content {
    width: 72%;
}
.step-description {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}
.image-container {
    width: 25%;
    height: 100%;
}
.step-image {
    position: absolute;
    right: 0;
    min-width: 25%;
    max-width: 25%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0rem var(--borderradius-default) var(--borderradius-default) 0rem;
}