.image-preview {
    position: absolute;
    border-radius: var(--borderradius-default);
    border-style: inset;
    border-color: black;
    height: fit-content;
    min-width: 2rem;
    z-index: 2;
    animation: PreviewAppear 1s ease forwards;
    transform-origin: top right;
    cursor: default;
    margin-top: -4rem;
}
@keyframes PreviewAppear {
    from {
        opacity: 0.2;
        rotate: 45deg;
        scale: 0.1;
        margin-top: -5rem;
    }
}

.image{
    border-radius: var(--borderradius-default);
    animation: ImageGrow 750ms ease forwards;
    margin-bottom: -0.3rem;
}
@keyframes ImageGrow {
    from{
        width: 1rem;
    }
    to{
        width: 10rem;
    }
}
