:root {
    --shadow-color: rgba(0, 0, 0, 0.5);
    --primary-color: rgba(106, 5, 214, 0.658);
    --background-accent: rgb(255, 255, 221);
    --background-primary: rgb(238, 233, 243);
    --box-shadow-strong: 0 0.25rem 0.5rem 0.2rem var(--shadow-color);
    --box-shadow-mild: 0rem 0.1rem 0.2rem 0.05rem var(--shadow-color);
    --borderradius-default: 1rem;
    --default-margin: 0.5rem;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes NewInput {
    from{
        background-color: var(--primary-color);
    }
}