@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$amber-palette, 600);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 density: 0,
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

@include mat.button-theme($my-theme);
@include mat.toolbar-theme($my-theme);

@include mat.card-theme($my-theme);

{
    palette: {
      primary: {
        main: '#ffb300',
      },
      secondary: {
        main: '#ffb300',
      },
    },
  }